html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.wellCell {
    width: 100px;
    height: 100px;
    background: #ff0000;
}

.siteCell {
    width: 100px;
    height: 100px;
    background: #ff0000;
}


.headerCell {
    color: lightgray;
    text-align: center;
    vertical-align: middle;
}

.plateTable {
    background-color: #fafafa;
    border-collapse: separate;
}

.plateTable td {
    background-color: #fafafa;
    /* This makes empty cells become a bit smaller*/
    width: 50px;
    height: 50px;
    padding: 0px;
}

.siteTable td {
    background-color: #fafafa;
    /* This makes empty cells become a bit smaller*/
    width: 50px;
    height: 50px;
    padding: 0;
}

.wellDiv{
    position: relative;
}

.tooltip{
    font-size: 1.1rem;
 }

.siteDiv{
}

.infoDotDiv{
    position: absolute;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    right: 0;
    border: 1px solid grey;
    height: 26px;
    width: 26px;
    background-color: #5d5656;
    border-radius: 50%;
    display: inline-block;
}

/*
.plateThumbImg {
    width: 50px;
    height: 50px;
}
*/

.wellCanvas{
    /* Dont set canvas size with css
    width: 50px;
    height: 50px;
    */
    cursor: pointer;
}

.siteCanvas{
    /* Dont set canvas size with css
    width: 50px;
    height: 50px;
    */
    display:block;
    cursor: pointer;
    margin: 0;
}


.imageRow {
    display: flex;
    flex-direction: row;
}
.imageContainer {
    width: 50px;
    height: 50px;
    position: relative;
    background: #cccccc;
    /*padding-bottom: 12.5%;*/
    border: 0px solid rgba(0,0,0,0.1);
    overflow: hidden;
}

/*
.image-blob {
    padding-left: 10px;
}
*/