html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.wellCell {
    width: 100px;
    height: 100px;
    background: #ff0000;
}

.headerCell {
    color: lightgray;
    text-align: center;
    vertical-align: middle;
}

.plateTable {
    background-color: #fff;
}

.plateTable tr {
}


.plateTable td {
    background-color: #fafafa;
    /* This makes empty cells become a bit smaller*/
    width: 50px;
    height: 50px;
    border: 0px solid #ffffff;
}

/*
.plateThumbImg {
    width: 50px;
    height: 50px;
}
*/

.wellCanvas{
    /* Dont set canvas size with css
    width: 50px;
    height: 50px;
    */
    border: 1px solid darkgrey;
    cursor: pointer;
}


.imageRow {
    display: flex;
    flex-direction: row;
}
.imageContainer {
    width: 50px;
    height: 50px;
    position: relative;
    background: #cccccc;
    /*padding-bottom: 12.5%;*/
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}

/*
.image-blob {
    padding-left: 10px;
}
*/