<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-width initial-scale=1"> <!-- shrink-to-fit=no -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Image-Viewer</title>

  <link rel="shortcut icon" href="/static/pharmbio_logo_square_64x64.png" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="/static/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/theme/css/simple-sidebar.css" rel="stylesheet">

  <!-- openseadragon image-viewer -->
  <script src="/static/openseadragon/openseadragon.min.js"></script>

  <!-- imagedb scripts and css -->
  <link rel='stylesheet' href='/static/main.css'>
  <script src='/static/main.js'></script>

  <!-- Bootstrap core CSS -->
  <link href="/static/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for current bootstrap template -->
  <link href="/static/theme/css/simple-sidebar.css" rel="stylesheet">

  <!-- range-slider Plugin CSS file with desired skin-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>

  <!-- this imagedb -->
  <link rel='stylesheet' href='/static/main.css'>

  <!-- json-viewer -->
  <link rel="stylesheet" href="/static/json-viewer/json-viewer.css">

  <!-- jquery-bonzai -->
  <link rel="stylesheet" href="/static/jquery-bonzai/jquery.bonsai.css">

  <!-- Custom inline css override -->
  <style type="text/css">


    /* Overrides color on range-slider */
    .irs--flat .irs-from,
    .irs--flat .irs-to,
    .irs--flat .irs-single {
      background-color:#17a2b8;
    }
    .irs--flat .irs-bar{
      background-color:#17a2b8;
    }
    .irs--flat .irs-from:before,
    .irs--flat .irs-to:before,
    .irs--flat .irs-single:before {
      border-top-color:#17a2b8;
    }
    .irs--flat .irs-handle>i:first-child {
      background-color:#17a2b8
    }
    /* -- end range-slider */

  </style>



  <!-- This is mainly for openseadragon -->
  <style type="text/css">
    html, body {
      height: 100%;
      width: 100%;
      margin: 0px;
      background-color: black;
    }

    /*
     This changes bootstrap base font and all relatives
    */
    html {
      font-size: 14px;
    }

    </style>

</head>


</head>

<body>

<div class="d-flex" id="wrapper">

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

    <!-- Toolbar -->
    <div id="plate-tool-div" class="container-fluid mt-2 mb-2">

      <!-- Toolbar form -->
      <form id='plate-tool-form' onsubmit='redrawImageViewer(); return false;'>

        <div class="input-group">

          <!-- Plate label -->
          <label id="plate-name-label" class="input-group-text" style="width: 170px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">
            Plate:
          </label>

          <!-- Well selector -->
          <div class="input-group-prepend ml-2">
            <label class="input-group-text" for="well-select">Well</label>
          </div>
          <select class="custom-select" style="width: 75px;" id="well-select" onchange="redrawImageViewer(); return false;">
          </select>

          <!-- Timepoint selector -->
          <div class="input-group-prepend ml-2">
            <label class="input-group-text" for="timepoint-select">Timepoint</label>
          </div>
          <select class="custom-select" style="width: 60px;" id="timepoint-select" onchange="return redrawImageViewer(false);">
          </select>

          <!-- Timepoint slider -->
          <div id="slider" class="ml-2" style="width:100px;height:20px;hidden:true;">
            <input type="text" id="timepoint-slider" name="" value="" style="width:0px;" />
          </div>

          <!-- Timepoint animation -->
          <div class="form-group form-check" style="margin-bottom: 0px;">
            <div class="col-md-4">
              <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" id="animate-cbx" disabled onchange="toggleAnimation(); return false;">
              <label class="form-check-label" style="margin-top:0.8rem;" for="animate-cbx">Animate</label>
            </div>
          </div>

          <!-- Animation speed selector -->
          <div class="input-group-prepend ml-2">
            <label class="input-group-text" for="animation-speed-select">Anim. speed</label>
          </div>
          <select class="custom-select" style="width: 50px;" id="animation-speed-select" onchange="updateAnimationSpeed(); return false;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option selected value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>

          <!-- Site selector -->
          <div class="input-group-prepend ml-2">
            <label class="input-group-text" for="site-select">Site</label>
          </div>
          <select class="custom-select" style="width: 50px;" id="site-select" onchange="redrawImageViewer(); return false;">
          </select>

          <!-- Channel selector -->
          <div class="input-group-prepend ml-2 ">
            <label class="input-group-text" for="channel-select">Channel</label>
          </div>
          <select class="custom-select"  style="width: 75px;"id="channel-select" onchange="redrawImageViewer(); return false;">
          </select>

           <!-- Scalebar -->
          <div class="form-group form-check" style="margin-bottom: 0px;margin-left: 5px">
              <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" id="scalebar-cbx" onchange="updateShowScalebar(); return false;">
              <label class="form-check-label" style="margin-top:0.8rem;" for="scalebar-cbx">Scalebar</label>
            </div>

        </div>

      </form>
    </div>
    <!-- end Toolbar -->


      <!-- Navbar menues -->


      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

          <button type="button" id="openmeta-button" class="btn btn-info" data-toggle="modal" data-target="#metadata-datafield">Metadata</button>

        </ul>
      </div>


    </nav>

  </div>
  <!-- /#page-content-wrapper -->


</div>
<!-- /#wrapper -->

<!-- Main div -->
<div id="viewer-div" class="flex-grow-1" style="width:100%;height:92%;">
</div>

<!-- Modal dialog "Metadata" -->
<div class="modal fade" id="metadata-datafield" tabindex="-1" role="dialog" aria-labelledby="metadata-datafieldLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-scrollable" style="width: 75%;"> <!-- width not working here...:( -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="metadata-datafieldLabel">Plate/Image metadata</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <button type="button" id="add-field-button" class="btn btn-info btn-sm ml-2" data-toggle="modal" data-target="#add-datafield">Add field</button>
        <button type="button" id="delete-field-button" class="btn btn-info btn-sm ml-2" data-toggle="modal" data-target="#delete-datafield">Delete field</button>

      </div>

      <div id="meta-div-json"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal dialog "Add database field ...." -->
<div class="modal fade" id="add-datafield" tabindex="-1" role="dialog" aria-labelledby="add-datafieldLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-datafieldLabel">Add database field to this plate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="add-field-name" class="col-form-label">Field to add:</label>
            <input type="text" class="form-control" id="add-field-name">
          </div>
          <div class="form-group">
            <label for="add-field-text" class="col-form-label">Field data:</label>
            <textarea class="form-control" rows="10" style="height:100%;" id="add-field-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add field to plate</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal dialog "Delete database field ...." -->
<div class="modal" id="delete-datafield" tabindex="-1" role="dialog" aria-labelledby="delete-datafieldLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-datafieldLabel">Delete database field from this plate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="delete-field-name" class="col-form-label">Field to delete:</label>
            <select class="custom-select" id="delete-field-name" onchange="return false;">
              <option value="Select...">Select...</option>
              <option value="Reagents">Reagents</option>
              <option value="Another field">Another field</option>
            </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Delete field from plate</button>
      </div>
    </div>
  </div>
</div>

<!-- end Modal dialogs -->

<!-- Bootstrap core JavaScript -->
<script src="/static/theme/vendor/jquery/jquery.min.js"></script>
<script src="/static/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- openseadragon image-viewer -->
<script src="/static/openseadragon/openseadragon.min.js"></script>

<!-- openseadragon scalebar -->
<script src="/static/openseadragon-scalebar/openseadragon-scalebar.js"></script>

<!-- json-viewer -->
<script src="/static/json-viewer/json-viewer.js"></script>

<!-- jquery-bonzai -->
<script src="/static/jquery-bonzai/jquery.bonsai.js"></script>

<!-- range-slider jquery plugin-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>

<!-- this imagedb -->
<!--<script src='/static/main.js'></script>-->


<!-- Body inline script -->
<script>

  // jQuery init methods
  $(document).ready(function(){

    // Create disabled slider to be updated later
    $("#timepoint-slider").ionRangeSlider({
      //skin: "modern",
      type: "single",
      min: 1,
      max: 1,
      from: 1,
      disable: true,
      onChange: function (data) {
        elem = document.getElementById('timepoint-select');
        let newVal = data.from - 1;
        // Check first to avoid recursion
        if(elem.selectedIndex != newVal){
          elem.selectedIndex = data.from - 1;
          elem.onchange();
        }
      }
    });

  });

</script>

<!-- Init openseadragon -->
<script>
  const viewer = OpenSeadragon({
    id: "viewer-div",
    prefixUrl: "/static/openseadragon/images/",
    animationTime: 0.8, // default 1.2
    zoomPerSecond: 1, // default: 1
    zoomPerScroll: 1.7, // default: 1.2
    minZoomImageRatio: 0.65, // default: 0.8
    maxZoomPixelRatio: 10,  // deault: 2
    homeFillsViewer: true,
    showNavigator: true,  // deault: 2

    tileSources: {
      opacity: 1,
      preload: true,
      type: 'image',
      url: '{{ image_url }}',
      buildPyramid: false,
      sequenceMode: true,
      success: function (event) {
        console.log("image-loaded from image-viewer.html");
        console.log(viewer.world.getItemCount());
      }
    }
  });

/*
  const viewer = OpenSeadragon({
    id: "viewer-div",
    prefixUrl: "/static/openseadragon/images/",
    animationTime: 0.8, // default 1.2
    zoomPerSecond: 1, // default: 1
    zoomPerScroll: 1.7, // default: 1.2
    minZoomImageRatio: 0.65, // default: 0.8
    maxZoomPixelRatio: 10,  // deault: 2
    homeFillsViewer: true,
    showNavigator: true,  // deault: 2
   // preserveViewport: true,
    sequenceMode: true,
    preload: true,
    tileSources: [
          {
              type: 'image',
              url:  '{{ image_url }}',
              buildPyramid: false
          },
          {
              type: 'image',
              url:  '{{ image_url }}',
              buildPyramid: false
          },
          {
              type: 'image',
              url:  '{{ image_url }}',
              buildPyramid: false
          },
    ]
  });
 */

  viewer.scalebar({
      type: OpenSeadragon.ScalebarType.MICROSCOPY,
      pixelsPerMeter: 0, // Setting to 0 disables it
      minWidth: "75px",
      location: OpenSeadragon.ScalebarLocation.BOTTOM_LEFT,
      xOffset: 5,
      yOffset: 10,
      stayInsideImage: true,
      color: "rgb(150, 150, 150)",
      fontColor: "rgb(100, 100, 100)",
      backgroundColor: "rgba(255, 255, 255, 0.5)",
      fontSize: "small",
      barThickness: 2
  });

  updateShowScalebar();

  let plate = '{{ plate }}';
  let timepoint = '{{ timepoint }}';
  let well = '{{ well }}';
  let site = '{{ site }}';
  let channel = '{{ channel }}';
  loadPlateFromViewer(plate, timepoint, well, site, channel);


</script>

</body>

</html>
