<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Imagedb-pharmb.io</title>

  <link rel="shortcut icon" href="/static/pharmbio_logo_square_64x64.png" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="/static/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for current bootstrap template -->
  <link href="/static/theme/css/simple-sidebar.css" rel="stylesheet">

  <!-- range-slider Plugin CSS file with desired skin-->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css" />

  <!-- this imagedb -->
  <link rel='stylesheet' href='/static/main.css'>

  <!-- json-viewer for meta data -->
  <link rel="stylesheet" href="/static/json-viewer/json-viewer.css">

  <!-- jquery-bonzai for left pane tree view-->
  <link rel="stylesheet" href="/static/jquery-bonzai/jquery.bonsai.css">

  <!-- Custom inline css override -->
  <style type="text/css">
    .tooltip-inner {
      color: #000;
      background-color: #fff;
      text-align: left;
    }

    .bs-tooltip-right {
      padding: 2px 2px;
      color: #fff;
      background-color: #245973;
      border-radius: 2px;
    }

    /* Sidebar size etc.*/
    #sidebar-wrapper {
      width: 180px;
      white-space: nowrap;
    }

    /* Splitter css */
    .splitpane {
      display: flex;
    }

    .right-splitpane {
      flex: 1;
    }

    .splitter-bar {
      width: 3px;
      cursor: col-resize;
    }

    /* -- end splitter -- */

    /* Jquery-bonzai override */
    .bonsai>li {
      font-size: 13px;
      margin: 3px;
    }

    .bonsai>li>ul {
      margin-left: -15px;
    }

    /* Overrides color on range-slider */
    .irs--flat .irs-from,
    .irs--flat .irs-to,
    .irs--flat .irs-single {
      background-color: #17a2b8;
    }

    .irs--flat .irs-bar {
      background-color: #17a2b8;
    }

    .irs--flat .irs-from:before,
    .irs--flat .irs-to:before,
    .irs--flat .irs-single:before {
      border-top-color: #17a2b8;
    }

    .irs--flat .irs-handle>i:first-child {
      background-color: #17a2b8
    }

    /* -- end range-slider */

    /* This is just for making left sidebar scrollable */
    /*
    #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      left: 190px;
      top: 0px;
      bottom: 0px;
      margin-left: -190px;
      overflow-y: auto;
      overflow-: hidden;
      background: #222222;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    #page-content-wrapper {
      width: 85%;
      position: fixed;
      left: 230px;
      margin-right: 230px;
    }
    */
    /* end -This is just for making left sidebar scrollable */

    /*
      This changes bootstrap base font and all relatives
     */
    html {
      font-size: 14px;
    }

    td {
      white-space: normal !important;
      word-wrap: break-word;
      max-width: 300px;
    }
  </style>

</head>

<body>

  <!-- the sidebar and center page content is splitted with a jquery resize SplitterBars
     the splitter parent div should be class .splitpane, other classes are
      .left-splitpane, .right-splitpane and .splitter-bar -->
  <div class="d-flex splitpane" id="all_content_wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right left-splitpane" id="sidebar-wrapper" ;>
      <div class="sidebar-heading">Projects/Plates</div>

      <div class="sidebar-heading">
        <!-- <div class="list-group list-group-flush">-->
        <ul id='result-list'></ul>

        <div id="left-sidebar-spinner" class="d-flex justify-content-center">
          <div class="spinner-border text-info" role="status">
            <span class="sr-only">Loading plates...</span>
          </div>
        </div>

        <!--
      <div class="d-flex justify-content-center">
          <div class="text-info">
           Loading plates
         </div>
      </div>
      -->

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- splitter -->
    <div class="border-right bg-light splitter-bar"></div>

    <!-- Page Content -->
    <div class="right-splitpane" id="page-content-wrapper">

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <!-- Search form -->
        <form id='query-form'  onsubmit='return false;'>
          <div class="input-group">

            <input onkeyup='filterchanged();' type="text" id="search-textfield" class="form-control input-sm" maxlength="" placeholder="Filter plates" />
            <button type="button" onclick="filterchanged();" class="btn btn-info btn-sm ml-2">Filter</button>

            {% raw xsrf_form_html() %}

          </div>
        </form>


        <!-- Zoom form -->
        <form id='zoom-select-form'>

          <div class="input-group align-bottom align-content-lg-end">

            <!-- Zoom selector -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="zoom-select">Zoom</label>
            </div>
            <select class="custom-select" style="width: 60px;" id="zoom-select">
              <option value="10>10%</option>
              <option value=" 20">20%</option>
              <option value="30">30%</option>
              <option value="40">40%</option>
              <option value="50">50%</option>
              <option value="60">60%</option>
              <option value="70">70%</option>
              <option value="80">80%</option>
              <option value="90">90%</option>
              <option selected value="100">100%</option>
              <option value="110">110%</option>
              <option value="120">120%</option>
              <option value="130">130%</option>
              <option value="140">140%</option>
              <option value="150">150%</option>
              <option value="160">160%</option>
              <option value="170">170%</option>
              <option value="180">180%</option>
              <option value="190">190%</option>
              <option value="200">200%</option>
            </select>
          </div>

        </form>

        <!-- Brightness form -->
        <form id='brightness-select-form'>

          <div class="input-group align-bottom align-content-lg-end">

            <!-- Brightness selector -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="brightness-select">Brightness</label>
            </div>
            <select class="custom-select" style="width: 60px;" id="brightness-select">
              <option value="10">10%</option>
              <option value="50">50%</option>
              <option selected value="100">100%</option>
              <option value="150">150%</option>
              <option value="200">200%</option>
              <option value="250">250%</option>
              <option value="300">300%</option>
              <option value="350">350%</option>
              <option value="400">400%</option>
              <option value="450">450%</option>
              <option value="500">500%</option>
              <option value="600">600%</option>
              <option value="700">700%</option>
              <option value="800">800%</option>
              <option value="900">900%</option>
              <option value="1000">1000%</option>
              <option value="2000">2000%</option>
              <option value="5000">5000%</option>
            </select>
          </div>


        </form>

        <!-- ShowHidden form -->
        <form id='show-hidden-form'>
            <div class="form-group form-check" style="margin-bottom: 0px;">
              <div class="col-md-12">
                <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" id="show-hidden-cb">
                <label class="form-check-label" style="margin-top:0.8rem;" for="show-hidden-cb">Show hidden</label>
              </div>
            </div>
        </form>

        <!-- ShowCompounds form -->
        <form id='show-compounds-form'>
            <div class="form-group form-check" style="margin-bottom: 0px;">
              <div class="col-md-12">
                <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" id="show-compounds-cb">
                <label class="form-check-label" style="margin-top:0.8rem;" for="show-compounds-cb">Show compounds</label>
              </div>
            </div>
        </form>

        <!-- Normalizationi form -->
        <form id='normalization-form'>
            <div class="form-group form-check" style="margin-bottom: 0px;">
              <div class="col-md-12">
                <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" id="normalization-cb">
                <label class="form-check-label" style="margin-top:0.8rem;" for="normalization-cb">Normalization</label>
              </div>
            </div>
        </form>


        <!-- Navbar menues -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Help
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Not implemented yet...</a>
              <a class="dropdown-item" href="#">Another thing...</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminer" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPipelinegui">
                <a class="dropdown-item" target="pipelinegui" href="{{pipelinegui_url}}">Pipelinegui</a>
                <a class="dropdown-item" target="adminer" href="{{adminer_url}}">Adminer</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Github
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="https://github.com/pharmbio/imagedb">Imagedb repo</a>
                <a class="dropdown-item" href="https://github.com/pharmbio/imagedb/issues">Issues</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://pharmb.io">Pharmb.io <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Toolbar -->
      <div id="plate-tool-div" class="container-fluid mt-2 mb-2">

        <!-- Toolbar form -->
        <form id='-tool-form'>

          <div class="input-group align-bottom">

            <!-- Plate label -->
            <label id="plate-name-label" class="input-group-text"
              style="width: 500px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;">
              Plate:
            </label>

            <!-- Acquisition selector -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="acquisition-select">Acq-id:</label>
            </div>
            <select class="custom-select" style="width: 60px;" id="acquisition-select">
            </select>

            <!-- Acquisition slider -->
            <div id="slider" class="ml-2" style="width:100px;height:20px;hidden:true;">
              <input type="text" id="acquisition-slider" name="" value="" style="width:0px;" />
            </div>

            <!-- Animation -->
            <div class="form-group form-check" style="margin-bottom: 0px;">
              <div class="col-md-4">
                <input type="checkbox" class="form-check-input" style="margin-top: 1.0rem;" id="animate-cbx" disabled>
                <label class="form-check-label" style="margin-top:0.8rem;" for="animate-cbx">Animate</label>
              </div>
            </div>

            <!-- Animation speed selector -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="animation-speed-select">Anim. speed</label>
            </div>
            <select class="custom-select" id="animation-speed-select" style="width: 50px;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option selected value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>

            <!-- Site selector -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="site-select">Site</label>
            </div>
            <select class="custom-select" id="site-select" style="width: 50px;">
            </select>

            <!-- Channel selector -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="channel-select">Ch</label>
            </div>
            <select class="custom-select" id="channel-select" style="width: 75px;">
            </select>

            <!-- Z selector -->
            <div class="input-group-prepend ml-2">
              <label class="input-group-text" for="z-select">Z</label>
            </div>
            <select class="custom-select" id="z-select" style="width: 10px;">
            </select>

          </div>

        </form>
      </div>
      <!-- end Toolbar -->

      <!-- Plate Table div -->
      <div id="plate-div" class="container-fluid flex-fill" style="overflow-x: auto">
      </div>

      <!-- image_analyses table-->
      <div class="container-fluid flex-fill overflow-auto">
        <br>
        <h5>image_analyses</h5>
        <div class="row">
          <div class="col-md-6 text-md-left">
            <a target="Pipelinegui" href="{{pipelinegui_url}}">
              Link to pipelinegui
            </a>
          </div>
          <div class="col-md-6 text-md-right">
            <a target="adminer" href="{{adminer_url}}&select=image_analyses">
              link to database
            </a>
          </div>
        </div>
      </div>
      <div id="image_analyses-table-div" class="container-fluid flex-fill overflow-auto">
      </div>


    </div>
  </div>
  <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Modal dialogs -->

  <!-- Modal dialog "Errormessage.." -->
  <div class="modal" id="error-modal" tabindex="1" role="dialog" aria-labelledby="errormodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errormodalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="errordiv" class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


  <!-- end Modal dialogs -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/theme/vendor/jquery/jquery.min.js"></script>
  <script src="/static/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- openseadragon image-viewer -->
  <script src="/static/openseadragon/openseadragon.min.js"></script>

  <!-- json-viewer for meta-data-->
  <script src="/static/json-viewer/json-viewer.js"></script>

  <!-- jquery-bonzai for left pane tree view-->
  <script src="/static/jquery-bonzai/jquery.bonsai.js"></script>

  <!-- range-slider jquery plugin-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>

  <!-- splitbar for resizable split between left pane and main pane-->
  <script src="/static/splitterbar/SplitterBar.js"></script>

  <!-- this imagedb -->
  <script src='/static/main.js?version=1.05'></script>

  <!-- Body inline script -->
  <script>
    // Set display error function
    window.onerror = displayModalJavaScriptError;

    // Declare global vars
    window.PIPELINEGUI_URL = '{{pipelinegui_url}}'
    window.PIPELINEGUI_STATIC_RESULTS_DIR = '{{pipelinegui_static_results_dir}}'

    // Create an empty table to start with - just because it looks good!
    let table = createEmptyTable(8, 12, [1, 2, 3, 4]);
    let container = document.getElementById('plate-div');
    container.appendChild(table);

    // jQuery init methods
    $(document).ready(function () {

      // Create disabled slider to be updated later
      $("#acquisition-slider").ionRangeSlider({
        //skin: "modern",
        type: "single",
        min: 0,
        max: 0,
        from: 0,
        disable: true,
        onChange: function (data) {
          elem = document.getElementById('acquisition-select');
          let newVal = data.from - 1;
          // Check first to avoid recursion
          if (elem.selectedIndex != newVal) {
            elem.selectedIndex = data.from - 1;
            //elem.onchange();
          }
        }
      });

      // Enable Pane-splitter
      $(".splitpane").SplitterBar();

      // Add event listeners
      $("#zoom-select").change(zoomSelectChanged);
      $("#brightness-select").change(brightnessSelectChanged);
      $("#acquisition-select").change(acquisitionSelectChanged);
      $("#site-select").change(siteSelectChanged);
      $("#channel-select").change(channelSelectChanged);
      $("#z-select").change(zPosSelectChanged);
      $("#animation-speed-select").change(animationSpeedSelectChanged);
      $("#animate-cbx").change(animateCbxChanged);
      $("#show-hidden-cb").change(showHiddenSelectChanged);
      $("#show-compounds-cb").change(showCompoundsSelectChanged);
      $("#normalization-cb").change(normalizationSelectChanged);

      // Call init window javascript function
      let plateBarcode = '{{barcode}}';
      let acquisitionID = '{{acqid}}'
      initMainWindow(plateBarcode, acquisitionID);
    });
  </script>

</body>

</html>
