CONF_FILE=settings_prod.json
SHARE_MIKRO=/share/mikro
SHARE_IMAGEDB=/share/imagedb
WEBROOT=/home/user/projekt/imagedb/webserver
TRAEFIK_FRONTEND_RULE=Host:imagedb.my-domain.com
# If TRAEFIK_BASIC_AUTH specified in this .env file then basic auth should not be escaped with extra $
TRAEFIK_BASIC_AUTH=user:$as1lkfsddfadfsddfsce7$yfsuy4/thFDGOu3Zq/
