version: "2.4"

networks:
  traefik:
    external:
      name: traefik_web

services:
  imagedbweb:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: imageweb
    environment:
      CONF_FILE: ${CONF_FILE?You need to specify env CONF_FILE, e.g. settings_dev_local.json, settings_prod.json}
      LOG_LEVEL: ${LOG_LEVEL:-INFO}
    cpus: 2
    mem_limit: 2g
    ports:
      - 8092:8080
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_web"
      - "traefik.port=8092"
      - "traefik.http.routers.imagedbweb.rule=Host(`${TRAEFIK_FRONTEND_URL?You need to specify env TRAEFIK_FRONTEND_URL, e.g. TRAEFIK_FRONTEND_URL=name.my-domain.com}`)"
      - "traefik.http.routers.imagedbweb.entrypoints=websecure"
      - "traefik.http.routers.imagedbweb.tls.certresolver=myresolver"
      # - traefik.frontend.auth.basic=${TRAEFIK_BASIC_AUTH? You need to specify env TRAEFIK_BASIC_AUTH, e.g. TRAEFIK_BASIC_AUTH=username:$blablsbskjfhbsjhslkfsjlkdslkjf/kljsd}

    networks:
      - traefik
    volumes:
      - ${APPROOT}:/app
      - ${SHARE_MIKRO}:/share/mikro
      - ${SHARE_MIKRO2}:/share/mikro2
      - ${SHARE_MIKRO3}:/share/mikro3
      - ${SHARE_MIKRO4}:/share/mikro4
      - ${SHARE_IMAGEDB}:/share/imagedb
      - ${SHARE_EXTERNAL}:/share/data/external-datasets
